.side-menu-logo{
  align-items: center;
  display: flex;
  margin-right: 8px;
  height: 55px;
  margin-left: 5px;
  max-width: 200px;
  padding: 12px 0;
}

.spaced-row.metadata {
  display: none !important;
}

#yaml-tab{
  display: none !important;
}
